@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0e7a4e;
  --secondary: #e6f4ee;
  --accent: #c9a24d;
  --danger: #d32f2f;
  --text-primary: #1f2937;
  --text-secondary: #6b7280;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins-sans);
  --font-mono: var(--font-inter-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins, Inter, sans-serif;
}

/* ----- Custom CSS ----- */

.bg-hero {
  background-image: url("/img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ----- Font Guide Mobile Responsive -----*/

.heading1 {
  font-size: var(--text-3xl);
  line-height: var(--text-3xl--line-height);
}
.heading2 {
  font-size: var(--text-2xl);
  line-height: var(--text-2xl--line-height);
}
.heading3 {
  font-size: var(--text-xl);
  line-height: var(--text-xl--line-height);
}
.bodylarge {
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);
}
.bodymedium {
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
}
.bodysmall {
  font-size: var(--text-xs);
  line-height: var(--text-xs--line-height);
}
.buttontext {
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
}
.inputtext {
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
}
.labelsmall {
  font-size: var(--text-xs);
  line-height: var(--text-xs--line-height);
}
.navbarmenu {
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
}
/* Tablet (md) */
@media (width >= 768px) {
  .heading1 {
    font-size: var(--text-4xl);
    line-height: var(--text-4xl--line-height);
  }
  .heading2 {
    font-size: var(--text-3xl);
    line-height: var(--text-3xl--line-height);
  }
  .heading3 {
    font-size: var(--text-2xl);
    line-height: var(--text-2xl--line-height);
  }
  .bodylarge {
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
  }
  .bodymedium {
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
  }
  .bodysmall {
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
  }
  .buttontext {
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
  }
  .inputtext {
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
  }
  .labelsmall {
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
  }
  .navbarmenu {
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
  }
}

/* Desktop (lg) */
@media (width >= 1024px) {
  .heading1 {
    font-size: var(--text-5xl);
    line-height: var(--text-5xl--line-height);
  }
  .heading2 {
    font-size: var(--text-4xl);
    line-height: var(--text-4xl--line-height);
  }
  .heading3 {
    font-size: var(--text-3xl);
    line-height: var(--text-3xl--line-height);
  }
  .bodylarge {
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);
  }
  .bodymedium {
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
  }
  .bodysmall {
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
  }
  .buttontext {
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
  }
  .inputtext {
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
  }
  .labelsmall {
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
  }
  .navbarmenu {
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
  }
}
